<div class = container3>
    <div class = "row">
    <div class= "card" *ngFor="let item of listadeProductos" >
        <div *ngIf="name===item.nombre">
            <div class = "row">
                <h2>{{item.nombre}}</h2>
            </div>
            <div class = "row">
                <div class = "col l6 s6 m6">
                    <img src={{item.imagen}} alt = "">
                </div>
                <div class = "col l6 s6 m6">
                    <h3>Precio:{{item.precio}}</h3>
                    <h3>Unidades Disponibles : {{item.unidadesDisponibles}}</h3>    
                </div>
            </div>
            <div class = "row">
                <button id=botonAtras routerLink ='/pagina-principal' (click)="retornarPagina()">atrás</button>
            </div>
        </div>
    </div>
    </div>
</div>