<div class = container2>
  
   <div class="barra">
     <app-barra-superior>pagina principal</app-barra-superior>
  </div>

  <div class = "row">
   <div *ngIf="paginaElegida==='catalogo'">
     <app-catalogo myEvent="app-barra-superior.carrito">app catalogo</app-catalogo>
     <router-outlet></router-outlet>
   </div>
   <div  *ngIf="paginaElegida==='PagDetalleProducto'">
      <app-detalleproducto>app detalle</app-detalleproducto>
      <router-outlet></router-outlet>
   </div>
   <div  *ngIf="paginaElegida==='carrito'">
    <app-carrito>app carrito</app-carrito>
    <router-outlet></router-outlet>
 </div>
 </div>
  
</div>
