.container3{
    background-color: white;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

.card{
    width: 24%;
    min-height: 100px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0, 2, 4, 1 rgba(0,0,0,0.3);
    margin: 3px;
    display: inline-block;
}

.card img{
    width: 100%;

}

#NumProductos{
    width: 15%;
    border: 3px solid rgba(10, 10, 10, 0.6);
    height: 25px;
    text-align: right;
    margin-top: 3px;
    margin-bottom: 2px;
}
