#botonAtras{
    margin-bottom: 5em;
    margin-top: 5em;

}

.container3{
    background-color: white;
    margin-top: 10em;
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.container2{
    height: 100%;
    width: 100%;
    background-image:url('../assets/imagenesBase/main-fondo.jpg');
    
}

.imagenVista{
    width: 10%;
    height: 10%;

}