#botonAtras{
    margin-bottom: 5em;
    margin-top: 5em;

}

.container3{
    background-color: white;
    margin-top: 10em;
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.container2{
    height: 100%;
    width: 100%;
    background-image:url('../assets/imagenesBase/main-fondo.jpg');
    
}

.card{
   /* width: 24%;
    min-height: 100px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;*/
    width: 50%;
    box-shadow: 0, 2, 4, 1 rgba(0,0,0,0.3);
    display: inline-block;
    
}
.imagenVista{
    margin-left: 2em;
    width: 20%;
    height: 20%;

}

#quitar{
    margin-bottom: 2em;
    margin-top: 2em;
}

#posicionVista{
    float: inline-end;
    color: brown;
}

#comprar{
    color: black;
    width: 6em;
    height: 3em;
    
}

#cancelar{
    color: black;
    width: 6em;
    height: 3em;
}